
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}


/* shared style */
.display-flax{
    display: flex;
}
.text-pry{
    color: #FF900E;
}
/* drak1 */
.drak-color{
    color: #424242;
}
/* drak2 */
.drak1-color{
    color: #131313;
}
/* drak light */
.drak-light-color{
    color: #727277;
}
.btn{
    background-color: #FF900E;
    color: #FFFFFF;
    font-size: 1.2rem;
    padding: 18px 39px;
    border: none;
    border-radius: 10px;
}
main > section{
    margin-top: 130px;
}
main{
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;
}






/* header style */
.bg-color{
    background-color: #f6f6f6e4;
}

/* nav style */
.navber {
    justify-content: space-between;
    align-items: center;
 
}
.brand{
    font-weight: 700;
    font-size: 2rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    
}
.navber, .banner{
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;
}
/* banner-contant */
.banner-contant{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner img{
    width: 100%;
    display: block;
    margin: 0 auto;
   
}


/* team item */
.team {
    align-items: center;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.team-img img{
    width: 100%;
   
    display: block;
}
.our-plan{
    margin-left: 130px;
    max-width: 530px;
}

.plan-title{
    font-size: 2.8rem;
    font-weight: 700;
}
#title-1{
    font-weight: 500;
}

/* media con */
@media screen and (max-width: 570px) {
    .nav-links, .navber, .team{
        flex-direction: column;
    }
    .team-img{
    grid-template-columns: repeat(1, 1fr);
    }
    .our-plan{
    margin-left: 20px;
    }
}


/* meduim div */
@media screen and (min-width: 570px) and (max-width: 992px) {
    .team{
        flex-direction: column;
    }
    .our-plan{
    margin-left: 50px;
    }
}
/* 1st meduim div */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .team{
        flex-direction: column;
    }
    .our-plan{
    margin-left: 50px;
    }
}